._r {
    color: #C586C0;
}

._l,
._k,
._m,
._b {
    color: #569CD6;
}

._p,
._t {
    color: #4EC8B0;
}

._f {
    color: #DCDCAA;
}

._n {
    color: #B3CDA8;
}

._c,
._i {
    color: #4FC1FF;
}

._b1 {
    color: #FFD700;
}

._b2 {
    color: #DA70D6;
}

._b3 {
    color: #189FFF;
}

._s {
    white-space: break-spaces;
    color: #CE9178;
}

._v {
    color: #9CDCFE;
}

._x {
    color: #969696;
    background-color: #262626;
    padding: 1px 0;
}

code,
pre {
    color: #D4D4D4;
    line-height: 1.5;
    background: transparent;
    font-family: "SF Mono", Consolas, Monaco, 'AndaleMono', 'UbuntuMono', monospace;
}